@use "../helpes/variables" as *;
/*Start Contact us */
.contact-us {
  .container {
    display: flex;
    @media #{$maxSmall} {
      flex-direction: column;
    }
    /*Start map*/
    .map-content {
      flex: 0 0 auto;
      width: 66.66666667%;
      @media #{$maxSmall} {
        width: 100%;
      }
      .map-container {
        iframe {
        }
      }
      /*Start Phones*/
      .phones {
        display: flex;
        align-items: center;
        gap: 25px;
        justify-content: center;
        z-index: 2;
        position: relative;
        margin-top: -40px;
        @media #{$maxSmall} {
          margin-top: 20px;
          flex-direction: column;
        }
        .item {
          box-shadow: $PrimeryShadow;
          background-color: $SnowWhite;
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 15px 20px;
          border-radius: 15px;
          text-align: center;
          @media #{$maxSmall} {
            width: 100%;
          }
          .faPhone-icon {
            background: $LavenderSunsetGradient;
            padding: 15px;
            border-radius: 50%;
            color: $light;
          }
          h4 {
            display: flex;
            flex-direction: column;
            gap: 10px;
            a {
              color: $OrchidPink;
            }
          }
        }
      }
      /*End Phones*/
    }
    /*End map*/
  }
}
/*End Contact us */
