@use "../helpes/variables" as *;
/*Start Footer*/
.footer {
  padding: 40px 0;
  .container {
    text-align: center;
    .social-media {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 30px;

      a {
        background-color: $light;
        color: $OrchidPink;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        transition: 0.3s;
        width: 40px;
        height: 40px;

        &:hover {
          background-color: $OrchidPink;
          color: $light;
        }
        svg {
          font-size: 30px;
          // padding: 15px;
          // background-color: $light;
          // width: 100%;
          // border-radius: 50%;
        }
      }
    }
    //
    .content {
      p {
        color: $light;
        span {
        }
      }
    }
  }
}
/*End Footer*/
