@use "../helpes/variables" as *;
/*Start Footer*/
.footer {
  padding: 40px 0;
  .container {
    text-align: center;
    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 30px;
    
      li {
        a {
            cursor: pointer;
            svg{
                transition: .3s;
                background-color:$light ;
                color: $OrchidPink;
                padding: 15px;
                border-radius: 50%;
                &:hover{
                    background-color:$OrchidPink ;
                    color: $light;
                }
            }
        }
      }
    }
    //
    .content {
      p {
        color: $light;
        span {
        }
      }
    }
  }
}
/*End Footer*/
