@use "../helpes/variables" as *;
/*start Header*/
.header {
  background:$LavenderSunsetGradient;
  // padding: 7px 0;
  @media #{$minLarge} {
    background-image: url("../images/header-bg.png");
    // padding: 22px 34px;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // padding: 9px 0;
 
  }
  .container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    @media #{$maxMobile} {
      padding: 9px 10px;  
    }
    .logo {
      padding-left: 30px;
      // @media #{$minLarge} {
      //   padding-left: 117px;
        
      // }
    }
    .menu-icon {
      @media #{$minSmall} {
        display: none;
      }
      font-size: 25px;
      color: $light;
      cursor: pointer;
      border: none;
    background: transparent;
    }
    .nav {
      @media #{$maxMobile} {
        display: none;
      }
      display: flex;
      // media 767
      &.show {
        display: block;
        position: absolute;
        background-color: $SnowWhite;
        top: 50%;
        left: 50%;
        //   padding: 20px;
        width: 90%;
        transform: translate(-50%, 10%);
        text-align: center;
        z-index: 100;
        border-radius: 5px;
        a {
          color: $Dark;
          padding: 20px;
          &:hover {
            color: $OrchidPink;
            background-color: $PaleGray;
          }
  
          &:not(:last-child) {
            border-bottom: 1px solid rgb(68 68 68 / 6%);
          }
        }
      }
      // media 767
      a {
        // background-color: red !important;
        padding: 0 20px;
        color: $light;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }

}
/*End Header*/
