@use "../helpes/variables" as *;
/*Start Testimonials */
.boxes {
  .container {
    .wrapper {
      display: flex;
      align-items: center;
      scroll-behavior: smooth;
      transition: transform 0.3s ease-in-out;
      gap: 20px;
      padding: 60px 0;
      -webkit-user-select: none;
      user-select: none;
      width: 25%;
      margin: auto;
      @media #{$maxMobile} {
        width: 80%;
      }
      .item {
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 30px;
        border-radius: 15px;
        filter: blur(1px);
        &:hover {
          box-shadow: $PrimeryShadow;
        }
        &.active {
          box-shadow: $PrimeryShadow;
          filter: blur(0px);
        }
        p {
        }
        h4 {
          margin-top: 15px;
        }

        .down-content {
          display: flex;
          align-items: center;
          gap: 20px;

          span {
          }

          img {
          }
        }
      }
    }
    //
  }
}

/*End Testimonials */
