@use "../helpes/variables" as *;
/*Start Testimonials */
.boxes {
  .container {
    .wrapper {
      overflow-x: scroll;
      display: flex;
      align-items: center;
      scroll-behavior: smooth;
      gap: 20px;
      padding: 60px 0;
      user-select: none;
      // transform-style:preserve-3d;
      // transform-origin: center;
      // transform: translateZ(20px);
      cursor: grab;
      transition: scroll 0.4s;
      &::-webkit-scrollbar {
        display: none;
      }
      .item {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 30px;
        border-radius: 15px;
        &:hover {
          box-shadow: $PrimeryShadow;
        }
        p {
        }

        h4 {
          margin-top: 15px;
        }

        .down-content {
          display: flex;
          align-items: center;
          gap: 20px;

          span {
          }

          img {
          }
        }
      }
    }
    //
  }
}

/*End Testimonials */
