@use "../helpes/variables" as *;

/*Start Services*/
.container {
  // overflow: hidden;
  
  .col {
    transition: transform 0.3s ease-in-out;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 25%;
    margin: auto;
    @media #{$maxMobile} {
      width: 90%;
    }
    .box {
      will-change: blur;
      text-align: center;
      padding: 30px;
      border-radius: 15px;
      transition: 0.3s;
      filter: blur(1px);
      &:nth-child(1) {
        margin-left: 20px;
      }
      &:hover {
        box-shadow: $PrimeryShadow;
      }
      &.active {
        box-shadow: $PrimeryShadow;
        filter: blur(0);
      }
      @media #{$maxMobile} {
        padding: 32px;
      }
      img {
      }
      h3 {
        padding: 20px 0;
      }
      p {
        width: 200px;
        line-height: 1.7;
      }
    }
  }
}

/*End Services*/
