@use "../helpes/variables" as *;
/*Start Upto*/
.upto {
  background-image: url("../images/cta-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 180px 0px 180px 0px;
  .container {
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    @media #{$maxSmall} {
      flex-direction: column;
      gap: 30px;
    }
    .image-left {
      width: 50%;
      @media #{$maxSmall} {
        width: 100%;
        text-align: center;
      }
      img {
        width: 100%;
      }
    }
    .contant-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media #{$maxSmall} {
        width: 100%;
      }
      h6 {
        font-weight: normal;
        font-size: 15px;
        color: $light;
      }
      h4 {
        color: $light;
        font-size: 62px;
        margin: 15px 0;
        line-height: 74px;
      }
      p {
        color: $light;
        line-height: 1.7;
      }
      a {
        padding: 10px 20px;
        background: $light;
        border-radius: 5px;
        color: $OrchidPink;
        font-size: 12px;
        width: fit-content;
      }
    }
  }
}
/*End Upto*/
